/* Estilo global */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(to right, #190086, #9b0505); /* Fondo degradado */
    color: #333;
}

/* Cabecera */
header {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    color: #333;
}

header p {
    font-size: 1.2em;
    color: #666;
}

/* Contenedor principal */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 150px); /* Ajusta según el tamaño del footer */
    padding: 20px;
}

/* Contenedor de la tabla periódica */
.periodic-table {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px; /* Tamaño máximo para la tabla */
    margin: auto;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Periodos (filas) */
.period {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 10px;
}

/* Elementos */
.element {
    width: calc(100% / 18); /* Ajusta a la cantidad de grupos en cada periodo */
    height: 70px; /* Ajusta la altura según tus necesidades */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    margin: 2px;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s, transform 0.3s;
}

.element:hover {
    background-color: #e9ecef;
    transform: scale(1.05);
}

/* Detalles del elemento */
.element-details {
    display: none; /* Inicialmente oculto */
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    position: absolute;
    top: 80px; /* Ajusta según sea necesario */
    left: 0;
    z-index: 1000; /* Asegúrate de que el z-index sea alto */
    width: 250px; /* Ajusta el ancho según tus necesidades */
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

/* Estilo para imágenes */
.element-details img {
    max-width: 100%;
    height: auto;
}

/* Pie de página */
footer {
    text-align: center;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
}

footer p {
    margin: 0;
    color: #666;
}
